
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 1.2rem;

}

h1{
    font-size: 1.8rem;
    padding-top: 4rem;
}

h2{
    font-size: 1.6rem;
    padding-top: 1.5rem;

}

header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

nav{
    display: flex;
}

button{
    font-size: large;
    width: 10rem;
    height: 3rem;
    background-color: transparent;
    margin: auto;
    border: 0.1rem solid #02779e;
    border-radius: 0.5rem;
    cursor: pointer;
    color: black;
}

button:hover{
    background-color: #02779e;
    border: none;
    color: white;
}

img{
    margin-bottom: 2rem;
}

.second-step, .final-step{
    display: none;
}

header{
    background-color: white;
    align-items: center;
}

.first-step{
    height: 6rem;
}

.firstParagraph{
    margin-left: 10%;
}

.button-first{
    width: 7rem;
    height: 2.5rem;
    font-size: 1.2rem;
    border: 0.15rem solid white;
    border-radius: 1rem;
    background-color: white;
    color: black;
    cursor: pointer;
    margin-top: 1rem;
    margin-left: 37%;
    margin-top: 1.5rem;
}

.button-first:hover{
    background-color: yellow;
    color: black;
    font-weight: bold;
    
}

.container{
    background-color: #02779e;
    color: white;
    margin: auto;
    width: 26rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 10rem;
}

.config-minha-altura{
    background-color: white;
    color:  #02779e;
    border: 0.14rem solid white;
    border-radius: 1rem;
    cursor: pointer;
    width: 8rem;
    height: 3rem;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 70%;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.config-minha-altura:hover{
    background-color: white;
    font-weight: normal;
    color: black;
    font-weight: bold;
}

h1, h2, h3{
    text-align: center;
}

#altura, #peso{
    outline: none;
    width: 5rem;
    height: 2.5rem;
    border-radius: 2rem;
    font-size: 1rem;
    padding-left: 0.5rem;
}

.final-step{
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 1.3rem;
}

#display{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}

.configCalcular, .configFinalizar{
    background-color: white;
    font-size: 1rem;
    width: 7rem;
    border-radius: 40rem;
    margin-right: 1rem;
    margin-left: 1.5rem;
    color: black;
}


.configFinalizar:hover{
    color: black;
    font-weight: bold;
    background-color: white;
}

.configCalcular:hover{
    color: #02779e;
    font-weight: bold;
    background-color: white;
}

.resultadoFinal{
    margin-bottom: 1rem;
}


footer{
    height: 6rem;
    background-color: rgb(97, 97, 97);
    color: white;
    font-size: 1rem;
    text-align: center;
    justify-content: center;
    border-radius: 0.2rem;
    padding-top: 3.58rem;
    margin-top: 3rem;
}
